{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="students">
  {% include 'student/common/header.html' %}

  <div class="row page-head">
      
    <div class="col-md-3">  
      <h1>Students</h1> 
    </div>

    <div class="col-md-9"> 
    <!-- search -->
    <div class="search"> 
      <form>
          <input type="search" placeholder="search for" maxlength="100" value="{{fil_query|default_if_none:''}}" name="search"  id="fil_query" onchange ="set_params_go()" />
          <button type="button" class="fa fa-search" aria-hidden="true"></button>
      </form>
    </div>      
    <button type="button"><a href="{% url 'student:student_add' %}">Add Student</a></button>
    </div>
   </div>
   <div class="table-head print-hide"> 
     <div class="left">   
        <div class="table-head selects">
            <select id="fil_gender" name="gender" onchange="set_params_go({});"> 
               <option value="">Gender</option>  
               <option value="MALE" {% if fil_gender == "MALE" %}selected{%endif%}>Male</option>
               <option value="FEMALE" {% if fil_gender == "FEMALE" %}selected{%endif%}>Female</option>
           </select>
           <select id="fil_blood" style="width:150px;" name="bloodgroup" onchange="set_params_go({});">
               <option value="">Blood Group</option> 
       <option value="A Positive" {% if fil_bloodgroup == "A Positive" %}selected{%endif%}>A+</option>
       <option value="A Negative" {% if fil_bloodgroup == "A Negative" %}selected{%endif%}>A-</option>
       <option value="B Positive" {% if fil_bloodgroup == "B Positive" %}selected{%endif%}>B+</option>
       <option value="B Negative" {% if fil_bloodgroup == "B Negative" %}selected{%endif%}>B-</option>
       <option value="AB Positive" {% if fil_bloodgroup == "AB Positive" %}selected{%endif%}>AB+</option>
       <option value="AB Negative" {% if fil_bloodgroup == "AB Negative" %}selected{%endif%}>AB-</option>
       <option value="O Positive" {% if fil_bloodgroup == "O Positive" %}selected{%endif%}>O+</option>
       <option value="O Negative" {% if fil_bloodgroup == "O Negative" %}selected{%endif%}>O-</option>
              </select>
              <a class="a-btn text-btn" href="{% url 'student_home' %}">Reset</a>
        </div>
      </div>
   </div>          
 

<div class="row">
    <div class="col-12">
            <div class="table-responsive">
              <div class="common-table">
               <table class="table">
                  <thead>
                    <tr class="tr-head">
                      <th class="xs-tcol">Sl.No</th>
                      <th class="m-tcol">Name
                        {% if fil_byname == 'ascending' %}
                        <button onclick="FilterByNameDescending()"> 
                           <i id="ordering_tag" class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                        </button>
                        {% elif fil_byname == 'descending' %}
                        <button onclick="FilterByNameAscending()">
                         <i id="ordering_tag" class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        </button>
                        {%else%} 
                        <button onclick="FilterByNameAscending()"> 
                        <i id="ordering_tag" class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                        </button>  
                        {%endif%}
                      </th>
                      <th class="xs-tcol">Gender</th>
                      <th class="xs-tcol">Photo</th>
                      <th class="m-tcol">Mobile No</th>
                      <th class="xs-tcol">Email</th>
                      <th class="xs-tcol">Dob</th>
                      <th class="xs-tcol">Religion</th>
                      <th class="xs-tcol">Blood Group</th>
                      <th class="xs-tcol">Mother Tongue</th>
                      <th class="btn-tcol">Edit</th>
                      <th class="btn-tcol">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for student in students%} 
                     <tr class="tr-body"> 
                       <td class="xs-tcol">{{forloop.counter0|add:students.start_index}}</td>
                       <td class="m-tcol">{{student.name}}</td>
                       <td class="xs-tcol">{{student.gender|default_if_none:''}}</td>
                       <td class="xs-tcol"> 
                        {% if student.photo %}
                         <img src="{{student.photo.url}}" />
                        {% endif%}
                       </td>
                       <td class="m-tcol">{{student.mobile_no|default_if_none:''}}</td>
                       <td class="xs-tcol">{{student.email_adderss|default_if_none:''}}</td>
                       <td class="xs-tcol">{{student.date_of_birth|default_if_none:''}}</td>
                       <td class="xs-tcol">{{student.religion|default_if_none:''}}</td>
                       <td class="xs-tcol">{{student.blood_group|default_if_none:''}}</td>
                       <td class="xs-tcol">{{student.mother_tongue|default_if_none:''}}</td>
                       <td class="btn-tcol">
                        <a class="a-btn" href="{% url 'student:student_edit' student.id %}">Edit</a>
                       </td>
                       <td class="btn-tcol">
                        <a class="a-btn" href="{% url 'student:student_delete' student.id %}" >Delete</a>
                       </td>
                     </tr>
                  {% endfor %}
                   </tbody>
                </table> 

               {% if students.has_other_pages %}
                <ul class="paginated">
                {% if students.has_previous %}
                 <li><a href="?page={{ students.previous_page_number }}&search={{fil_query}}&fil_gender={{request.GET.fil_gender}}&fil_bloodgroup={{request.GET.fil_bloodgroup}}">&laquo;</a></li>
                 {% else %}
                <li class="disabled"><a>&laquo;</a></li>
                 {% endif %}
                 {% for pg in page_range %}
                  {% if students.number == pg %}
                    <li><a href="?page={{pg}}&search={{fil_query}}&fil_gender={{request.GET.fil_gender}}&fil_bloodgroup={{request.GET.fil_bloodgroup}}">{{pg}}</a></li>
                   {% else %}
                    <li><a href="?page={{pg}}&search={{fil_query}}&fil_gender={{request.GET.fil_gender}}&fil_bloodgroup={{request.GET.fil_bloodgroup}}">{{pg}}</a></li>
                 {% endif %}
                 {% endfor %}
                {% if students.has_next %}
                <li><a href="?page={{ students.next_page_number }}&search={{fil_query}}&fil_gender={{request.GET.fil_gender}}&fil_bloodgroup={{request.GET.fil_bloodgroup}}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><a>&raquo;</a></li>
                {% endif %}
              </ul>
              {% endif %}

              </div>
          </div>
    </div>
  </div>
      </div>

</div>
<!-- students -->
{% endblock %}
{% block javascript %} 
<script>   
function FilterByNameAscending() 
{
  set_params_go({'filter_name':'ascending'}); 
} 
function FilterByNameDescending()  
{
  set_params_go({'filter_name':'descending'}); 
}

  
function set_params_go(args)   
{
var url='{% url 'student_home' %}';
var params={fil_query:$('#fil_query').val(),fil_gender:$('#fil_gender').val(),fil_bloodgroup:$('#fil_blood').val(),
};
for(key in args)
  params[key]=args[key];
var query='';
for(key in params) 
  if(params[key])
    query+='&'+key+'='+params[key].toString();
query=query.replace('&','?');
console.log(query);
window.location.href=url+query
}
</script>

{% endblock %}