
{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="product_add">

  {% include 'student/common/header.html' %}

  <div class="row page-head">

    <div class="col-md-6"> 

      <h1>Registration</h1>

    </div>

    <div class="col-md-6">       
    <a href="{% url 'student_home' %}">
      <button class="back-btn" type="button">Back</button>
     </a>
     </div>

  </div>

  <div class="row">

    <div class="col-12"> 

      <div class="page-form">

        <form method="post" action="" enctype= "multipart/form-data">{% csrf_token %}

         <div class="page-form-head">

           <h1>Student add</h1>

         </div>

         <div class="page-body">

          {% for field in student_reg_form %} 

          <div class="page-col">

           {{ field.errors }} 

           {{ field.label_tag }} {{ field }}

          <p class="help">{{ field.help_text|safe }}</p>

          </div>

          {% endfor %}

          </div> 

          </div>
            <input type="submit" value="Save">
        </form>
        
        </div>



    </div>

         </div>    

   </div>

  </div>

  </div>

</div>

<!-- /product_add -->

{% endblock %}

