body {
  font-family: robotoregular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;}
/* font */
.robotobold {
  font-family: robotobold, robotoregular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";}
.robotolight {
  font-family: robotolight, robotoregular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";}
.robotothin {
  font-family: robotothin, robotoregular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";}


/* pre-loader */
.pre-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d191ff0;
  z-index: 110;}
.pre-loader::before,
.pre-loader::after {
 content: '';
 position: absolute;
 border: 3px solid;
 border-radius: 4em;}
.pre-loader::before {
  border-color: #ff7300;}
.pre-loader::after {
border-color: #fff;}
.pre-loader::before {
 width: 30px;
height: 30px;
 border-bottom-color: transparent;
-webkit-animation: animate-inner 1.4s linear infinite;
animation: animate-inner 1.4s linear infinite;}
.pre-loader::after {
      width: 60px;
      height: 60px;
      border-top-color: transparent;
      -webkit-animation: animate-outer 1.8s linear infinite;
              animation: animate-outer 1.8s linear infinite;
    }
    @-webkit-keyframes animate-inner {
      from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
    @keyframes animate-inner {
      from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
    @-webkit-keyframes animate-outer {
      from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
      }
    }
    @keyframes animate-outer {
      from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
      }
    }



/* input[disabled] */
input[disabled] {
  background-color: transparent;
}


/* input[readonly] */
input[readonly] {
  outline: none;}


/* required */
input[required]:invalid,
textarea[required]:invalid,
select[required]:invalid {
  border-color: #ff9292 !important;
}

/* input number remove arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;}
input[type="number"] {
    -moz-appearance:textfield;}



/* input[type=file] css */
input[type="file"] {
  border: 1px solid #d8dcde;}


/* input[type=file] css */
input[type="file"]::-webkit-file-upload-button {
  background: transparent;
  border-radius: 1px;
  padding: 5px 10px;
  color: #308298;
  border: 1px solid #92aeb5;
}

/* input:disabled */
input[type="radio"]:disabled,
input[type="checkbox"]:disabled,
input[type="radio"]:disabled:hover,
input[type="checkbox"]:disabled:hover,
input:disabled,
select:disabled,
textarea:disabled {
  background: transparent;
}

/* placeholder */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a5a5a5;
  font-weight: normal;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #a5a5a5;
  font-weight: normal;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #a5a5a5;
  font-weight: normal;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #a5a5a5;
  font-weight: normal;
}



/* radio, checkbox */
input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 4.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 18px;
  width: 18px;
  transition: all 0.15s ease-out 0s;
  border: 1px solid #6b6b6b;
  color: #55c292;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none !important;
  z-index: 1;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
  border-color: #868282;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background: #fff;
}
input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  height: 15px;
  width: 15px;
  position: absolute;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  display: inline-block;
  text-align: center;
  line-height: 20px;}
input[type="radio"]:checked::before {
  font-size: 13px;
  right: 0;
  bottom: 2px;}
input[type="checkbox"]:checked::before {
  font-size: 14px;
  right: 0;
  bottom: 3px;}
input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after {
  background: #fff;
  content: "";
  display: block;
  position: relative;
  z-index: 100;}

/* radio */
input[type="radio"]:checked::before {
  content: "\f111";
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]::after {
  border-radius: 50%;
}

/* checkbox */
input[type="checkbox"]:checked::before {
  content: "\f00c";
}




/* button */
button,
.a-btn,
input[type="submit"] {
  white-space: nowrap;
  line-height: normal;
  background:#e1e9ec;
  color: #5d5e5f;
  padding: 10px 15px;
  font-size: 14px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  min-width: 65px;
  text-align: center;}
button:not(:disabled),
.a-btn,
input[type="submit"] {
  cursor: pointer;}
button:hover,
.a-btn:hover,
a.a-btn:hover,
input[type="submit"]:hover {
  background: #ced8dc;
  color: #4d4f50;}
button:focus,
.a-btn:focus,
a.a-btn:focus,
input[type="submit"]:focus {
  outline: none;}
a.a-btn {
  text-decoration: none;}

/* primary-btn */
.primary-btn {
  background: #4caee8;
  color: #fff;}
button.primary-btn:hover, 
.a-btn.primary-btn:hover, 
a.a-btn.primary-btn:hover {
  background: #2d8dc5;
  color: #fff;}



/* delete-btn */
.delete-btn {
  background: #fff;
  border: none;
  color: #bf1b1b;
  box-shadow: none;
}

.delete-btn:hover {
  color: #800606;
  text-shadow: none;
}

/* back-btn, close-btn, reset-btn */
.back-btn,
a.back-btn,
.close-btn,
.reset-btn {
  background: #fff;
  color: #1a473b;
  box-shadow: 0 0 2px #7b7b7b
}

.back-btn:hover,
a.back-btn:hover,
.close-btn:hover,
.reset-btn:hover {
  color: #2791cf;
  text-shadow: none;
}


/* copy-btn */
.copy-btn,
.copy-btn:hover {
  background: #6b677b;
  color: #fff;}

/* paste-btn */
.paste-btn,
.paste-btn:hover {
  background: #9987e0;
  color: #fff;}



/* profile_popup */
.profile_popup_btn {
  cursor: pointer;}
.profile_popup {
  display: none;}
.profile_popup.profile_popup_open {
  display: block;
  position: fixed;
  background: #fff;
  box-shadow: 0 0 7px #cccccc;
  z-index: 110;
  width: 300px;
  padding: 15px;
  right: 15px;
  top: 45px;
  border-radius: 5px;}
.profile_popup .profile_popup_btn {
  position: absolute;
  min-width: auto;
  right: 0;
  top: 0;
  color: #353535;
  padding: 12px;
  background: transparent;
  box-shadow: none;}
.profile_popup .profile_body {
  text-align: center;}
.profile_popup .profile_body h3 {
  font-size: 20px;
  padding-bottom: 15px;
  color: #353535;}
.profile_popup .profile_body button,
.profile_popup .profile_body .a-btn {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 7px;
  width: 70%;
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px #dbe8ef;}




/* page-head, page-sub-head */
.page-head select,
.page-head input[type="text"],
.page-sub-head select,
.page-sub-head input[type="text"] {
  width: 100px;}
.page-head select,
.page-head input[type="text"],
.page-head input[type="search"],
.page-sub-head select,
.page-sub-head input[type="text"],
.page-head .filter-by .div-col select,
.page-sub-head .filter-by .div-col select,
.page-head .filter-by .div-col .chosen-single,
.page-sub-head .filter-by .div-col .chosen-single {
  height: 37px;
  padding-left: 15px;
  border: 1px solid #9e9e9e;
  border-radius: 5px;}
.page-head h1 {
   font-size: 22px;}
.page-head h2 {
   font-size: 18px;}
.page-head h3 {
   font-size: 16px;}

/* filter-by */
.page-head .filter-by .div-col,
.page-sub-head .filter-by .div-col {
  padding-top: 0;}
@media (min-width: 768px) {
.page-head button, 
.page-head .a-btn, 
.page-head .search, 
.page-head select, 
.page-head input[type="text"] {
    float: right;
    margin-left: 15px;}
.page-head .filter-by,
.page-sub-head .filter-by {
   float: right;}
}
@media (max-width: 767px) {
.page-head button,
.page-head .a-btn,
.page-head select,
.page-head input[type="text"] {
   margin-top: 8px;}
.page-head button,
.page-head .a-btn {
   float: left;
   margin-right: 5px;}
}

/* from-to-filter */
.page-head .from-to-filter,
.page-sub-head .from-to-filter {
 float: right;
 margin-left: 15px;}
.page-head .from-to-filter input[type="text"],
.page-sub-head .from-to-filter input[type="text"] {
 float: left;
 margin-right: 5px;
 margin-left: 5px;}
@media (max-width: 767px) {
.page-head .from-to-filter,
.page-sub-head .from-to-filter {
   float: left;
   margin-left: 0;}
.page-head .from-to-filter label,
.page-sub-head .from-to-filter label {
   top: 13px;}
}

/* page-sub-head */
.page-sub-head {
    margin-top: 10px;}
.page-sub-head button,
.page-sub-head .a-btn {
    margin-right: 10px;}
@media (max-width: 767px) {
.page-sub-head select,
.page-sub-head input[type="text"] {
    margin-bottom: 5px;}
}


/* page-head */
.page-head {
  padding-top: 15px;}
.page-head h1,
.page-head h2,
.page-head h3 {
  margin: 0;
  text-transform: capitalize;}
/* chosen-result */
.page-head .chosen-container .chosen-results {
  width: 100%;}
.page-head .chosen-container {
  margin-bottom: 5px;
  margin-top: 0;}
.page-head .chosen-container-single .chosen-single {
  line-height: 26px;}
@media (max-width: 767px) {
.page-head .chosen-container {
    margin-top: 7px;}
}
/* search */
@media (max-width: 767px) {
.page-head .search {
  margin-top: 15px;}
.page-head .search button {
  margin-right: 0;
  margin-top: 0;}
}


/* primary-alert */
.primary-alert {
  color: #da041d;}
.primary-alert:empty {
  display: none;}

/* secondary-alert */
.secondary-alert {
  color: #525252;}
.secondary-alert:empty {
  display: none;}

/* green-text */
.green-text {
  color: #026539;}
/* red-text */
.red-text {
  color: #d63e2d;}
/* ogrnge-text */
.ogrnge-text {
  color: #f3842d;}



/* product-path */
.product-path .div-col {
  display: initial;}
.product-path .div-col:empty {
  display: none;}
.product-path .div-col:not(:last-of-type)::after {
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  margin-left: 5px;}
/* page-head */
.page-head .product-path .div-col::after {
  position: relative;
  top: 2px;}


/* count-row */
.count-row {
  margin-top: 10px;}
.count-row .div-col {
  display: inline-flex;
  border: 1px solid #cac5c5;
  padding: 5px 10px;
  border-radius: 2px;
  margin-right: 5px;}
.count-row .div-col label {
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 3px;}
.count-row .div-col b {
  font-size: 20px;
  margin-left: 5px;}



/* main-details */
.main-details {
  margin-top: 10px;
}

.main-details .div-col {
  display: inline-flex;
}

.main-details .div-col label {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 13px;
}

.main-details .div-col b {
  font-size: 16px;
  margin: -3px 10px 6px 5px;
}

@media (max-width: 767px) {
  .main-details {
    text-align: left;
  }

  .main-details .div-col label {
    font-size: 12px;
  }

  .main-details .div-col b {
    font-size: 14px;
    margin-top: 0;
  }
}




/* search */
.search {
  position: relative;
  max-width: 260px;
  width: 100%;}
.search input[type="search"] {
  outline: none;
  font-size: 14px;
  width: 100%;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 35px;}
.search button {
  margin-left: 0;
  min-width: auto;
  box-shadow: none;
  position: absolute;
  right: 0;
  line-height: 21px;
  font-size: 20px;
  padding: 8px 15px 8px 0;
  background: transparent;}


/* toggle-password */
.toggle-password {
  position: absolute;
  right: 0;
  background: transparent;
  color: #8c989e;
  min-width: auto;
  box-shadow: none;
  padding: 7px;
  margin-top: 10px;
  border-left: 1px solid #e2dddd;
  border-radius: 0;}
button.toggle-password:hover {
  background: transparent;}

/* product-quantity */
.product-quantity {
  display: flex;}
.product-quantity input {
  width: 200px;
  text-align: center;
  border: 1px solid #eaeaea;
  pointer-events: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;}
.product-quantity button {
  background: transparent;
  color: #696969;
  line-height: 0;
  min-width: auto;
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 5px #eceaea;
  border: 1px solid #dedede;}


/* radio-cbox-btn */
.radio-cbox-btn {
  padding: 4px 0;
}

.radio-cbox-btn label {
  padding: 0;
  margin-right: 11px;
  margin-bottom: 0;
  width: auto;
  cursor: pointer;
}

.radio-cbox-btn label span {
  font-size: 15px;
  padding-right: 5px;
}
.radio-cbox-btn label.checked_input span {
  color: #757474;}
@media screen and (max-width: 1199px) {
  .radio-cbox-btn label {
    margin-right: 5px;
  }

  .radio-cbox-btn label span {
    padding-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .radio-cbox-btn {
    padding-bottom: 8px;
  }
}


/* pop-up and page-form */
/* input's */
.pop-up .modal-body input[type="text"],
.pop-up .modal-body input[type=""],
.pop-up .modal-body input[type="number"],
.pop-up .modal-body input[type="date"],
.pop-up .modal-body input[type="password"],
.pop-up .modal-body input[type="email"],
.pop-up .modal-body input[type="url"],
.pop-up .modal-body input[type="time"],
.pop-up .modal-body select,
.pop-up .modal-body textarea,
.page-form .page-body input[type="text"],
.page-form .page-body input[type=""],
.page-form .page-body input[type="number"],
.page-form .page-body input[type="date"],
.page-form .page-body input[type="password"],
.page-form .page-body input[type="email"],
.page-form .page-body input[type="url"],
.page-form .page-body input[type="time"],
.page-form .page-body select,
.page-form .page-body textarea {
  width: 100%;
  color: #000;
  padding-left: 15px;
  border: 1px solid #d8dcde;
  border-radius: 5px;
  margin: 5px 0 0 0;
}

.pop-up .modal-body textarea,
.page-form .page-body textarea {
  padding-top: 5px;
  height: 100px;
}

  .pop-up .modal-body input[type="text"],
  .pop-up .modal-body input[type=""],
  .pop-up .modal-body input[type="number"],
  .pop-up .modal-body input[type="date"],
  .pop-up .modal-body input[type="password"],
  .pop-up .modal-body input[type="email"],
  .pop-up .modal-body input[type="url"],
  .pop-up .modal-body input[type="time"],
  .pop-up .modal-body select,
  .page-form .page-body input[type="text"],
  .page-form .page-body input[type=""],
  .page-form .page-body input[type="number"],
  .page-form .page-body input[type="date"],
  .page-form .page-body input[type="password"],
  .page-form .page-body input[type="email"],
  .page-form .page-body input[type="url"],
  .page-form .page-body input[type="time"],
  .page-form .page-body select {
    height: 40px;}

@media (min-width: 768px) {
  .pop-up .modal-body input[type="file"] {
    width: 100%;
    margin-top: 10px;
  }  
}

@media (max-width: 767px) {
  .pop-up .modal-body input[type="file"],
  .page-form .page-body input[type="file"] {
    width: 50%;
    float: left;
    margin-top: 10px;
  }
}


/* textarea */
.pop-up .modal-body .pop-up-col textarea,
.page-form .page-body .page-col textarea {
  height: 40px;}
@media (max-width: 767px) {
.pop-up .modal-body .pop-up-col textarea,
.page-form .page-body .page-col textarea {
  height: 100px;}
}
  
/* hover, focus textarea expanded */
@media (min-width: 768px) {
  .pop-up .modal-body .pop-up-col.height-set {
    height: 83px;
  }

  .page-form .page-body .page-col.height-set {
    height: 81px;
  }

  .pop-up .modal-body .pop-up-col.height-set textarea,
  .page-form .page-body .page-col.height-set textarea {
    resize: none;
    -webkit-transition: width 0.3s, height 0.3s, left 0.3s;
    -moz-transition: width 0.3s, height 0.3s, left 0.3s;
    -o-transition: width 0.3s, height 0.3s, left 0.3s;
    transition: width 0.3s, height 0.3s, left 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .pop-up .modal-body .pop-up-col.height-set textarea:hover,
  .pop-up .modal-body .pop-up-col.height-set textarea:focus,
  .page-form .page-body .page-col.height-set textarea:hover,
  .page-form .page-body .page-col.height-set textarea:focus {
    resize: both;
    height: 75px;
    background: #fff;
    position: relative;
    z-index: 10;
  }
}

/* date-select */
.pop-up .modal-body .date-select label,
.page-form .page-body .date-select label {
  margin-right: 10px;
  margin-top: 8px;
}

.pop-up .modal-body .date-select input[type="text"],
.page-form .page-body .date-select input[type="text"] {
  padding-left: 0;
  width: 100px;
}

@media (max-width: 767px) {

  .pop-up .modal-body .date-select label,
  .page-form .page-body .date-select label {
    margin-top: 7px;
  }

  .pop-up .modal-body .date-select input[type="text"],
  .page-form .page-body .date-select input[type="text"] {
    width: 85px;
  }
}



/* textarea */
.pop-up .modal-body .pop-up-col .primary-alert,
.pop-up .modal-body .pop-up-col-f .primary-alert,
.page-form .page-body .page-col .primary-alert,
.page-form .page-body .page-col-f .primary-alert {
  font-size: 10px;
  position: absolute;}

/* chosen-container */
.pop-up .modal-body .chosen-container .chosen-single,
.page-form .page-body .chosen-container .chosen-single {
    padding-top: 8px;}
.pop-up .modal-body .chosen-container:not(.chosen-container-active) .chosen-single,
.page-form .page-body .chosen-container:not(.chosen-container-active) .chosen-single {
    padding-left: 15px;}


/* help */
.pop-up .modal-body .help,
.page-form .page-body .help {
  font-size: 11px;
  color: #ea5555;}



/* multi-field-wrapper */ 
/* pop-up, page-form */
.pop-up .modal-body .multi-field-wrapper .multi-fields .pop-up-col.multi-field,
.page-form .page-body .multi-field-wrapper .multi-fields .page-col.multi-field {
    padding: 10px;}
.pop-up .modal-body .multi-field-wrapper .multi-fields .multi-field label,
.page-form .page-body .multi-field-wrapper .multi-fields .multi-field label {
  font-size: 14px;}

/* choose-img-div */
.pop-up .modal-body .multi-field-wrapper .multi-fields .multi-field .choose-img-div,
.page-form .page-body .multi-field-wrapper .multi-fields .multi-field .choose-img-div {
  margin-top: 10px;}

/* input[type="file"] */
.pop-up .modal-body .multi-field-wrapper .multi-fields .multi-field input[type="file"], 
.page-form .page-body .multi-field-wrapper .multi-fields .multi-field input[type="file"] {
    width: 100%;
    margin-top: 5px;}
@media (max-width: 767px){
.pop-up .modal-body .multi-field-wrapper .multi-fields .multi-field input[type="file"], 
.page-form .page-body .multi-field-wrapper .multi-fields .multi-field input[type="file"] {
    float: inherit;}
}



/*/ pop-up Start /*/

/* pop-up-small */
@media (min-width: 768px) {
  .pop-up .body.pop-up-small {
    max-width: 700px;
    width: 80%;}
}

/* pop-up-col */
@media (min-width: 992px) {
  .pop-up .pop-up-small .modal-body .pop-up-col {
    width: 50%;
  }
}

/* common */
.modal.pop-up {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pop-up .modal-content {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  height: 100vh;
}

@media (min-width: 576px) {
  .pop-up .modal-dialog {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .pop-up .modal-dialog {
    max-width: 100%;
  }
}

/* body */
.pop-up .body {
  margin: 0 auto;
  background: #fff;
  border-radius: 23px;
}

@media (min-width: 768px) {
  .pop-up .body {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .pop-up .body {
    width: 100%;
  }
}

/* modal-header */
.pop-up .modal-header {
  padding: 0;
}

.pop-up .modal-header h1,
.pop-up .modal-header h2 {
  margin: 0;
  text-transform: capitalize;
}
.pop-up .modal-header h1 {
  padding-top: 9px;
}
.pop-up .modal-header .close-btn {
  color: #f12c4f;
  position: relative;
  min-width: auto;
  bottom: 15px;
  left: 30px;
  box-shadow: none;
  border-color: transparent;
  border-top-right-radius: 25px;}

@media (min-width: 768px) {
  .pop-up .modal-header {
    padding: 15px 30px;
  }

  .pop-up .modal-header h1 {
    font-size: 20px;
  }

  .pop-up .modal-header h2 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .pop-up .modal-header {
    padding: 10px 25px;
  }

  .pop-up .modal-header h1 {
    font-size: 19px;
  }

  .pop-up .modal-header h2 {
    font-size: 17px;
  }
}

/* modal-body */
/* common */
.pop-up .modal-body label {
  margin: 10px 0 2px 0;
  text-transform: capitalize;
  width: 100%;
  font-size: 14px;
  color: #1d1d1d;
}

@media (min-width: 768px) {
  .pop-up .modal-body {
    padding: 15px 30px;
  }
}

@media (max-width: 767px) {
  .pop-up .modal-body {
    padding: 10px 25px;
  }
}

/* modal-footer */
.pop-up .modal-footer {
  margin-top: 15px;
}
.pop-up .modal-footer button,
.pop-up .modal-footer .a-btn {
  min-width: 100px;}
.pop-up .modal-footer .delete-btn {
  margin-right: auto;
  padding-left: 0;
}
@media (min-width: 768px) {
  .pop-up .modal-footer {
    padding: 15px 30px;
  }
}

@media (max-width: 767px) {
  .pop-up .modal-footer {
    padding: 10px 25px;
  }
}

/* pop-up-col, pop-up-col-f */
.pop-up .modal-body .pop-up-col,
.pop-up .modal-body .pop-up-col-f {
  float: left;
  padding: 3px;
  position: relative;
}
.pop-up .modal-body .pop-up-col-f {
  width: 100%;}
@media (min-width: 992px) {
  .pop-up .modal-body .pop-up-col {
    width: 33.33333333%;
  }
}

@media (max-width: 991px) {
  .pop-up .modal-body .pop-up-col {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .pop-up .modal-body .pop-up-col {
    width: 100%;
  }
}

/* d-flex */
.pop-up .d-flex {
  display: flex;
}

/* radio-cbox-btn */
.pop-up .modal-body .radio-cbox-btn label {
  width: auto;
}



/* delete-popup */
.delete-popup h4 {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .pop-up .body.delete-popup {
    width: 35%;
  }
}


/* confirm-popup */
.confirm-popup h4 {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;}
@media (min-width: 768px) {
.pop-up .body.confirm-popup {
  width: 35%;}
}


/* main-details  */
.pop-up .modal-body .main-details .div-col label {
  margin-top: 0;
  width: initial;}


/* radio-cbox-btn */
.pop-up .pop-up-small .modal-body .pop-up-col .radio-cbox-btn {
    padding-bottom: 2px;}




/*/ pop-up End /*/

/* page-form */
.page-form {
  background: #fff;
  margin-top: 15px;
  box-shadow: 0 0 5px #d8d2d2;}
/* page-form-head, page-body, page-footer */
.page-form .page-form-head,
.page-form .page-body,
.page-form .page-footer {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .page-form .page-form-head,
  .page-form .page-body,
  .page-form .page-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* page-form-head */
.page-form .page-form-head {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #dee5e8;}
.page-form .page-form-head h1 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 0;}
.page-form .page-form-head h2 {
  font-size: 16px;
  text-transform: capitalize;
  color: #6d6d6d;
  margin-bottom: 0;}

/* page-body */
.page-form .page-body {
  padding-top: 5px;
  padding-bottom: 20px;
}

.page-form .page-body:after,
.page-form .page-body:before {
  display: table;
  content: " ";
}

.page-form .page-body:after {
  clear: both;
}

/* label */
.page-form .page-body label {
  font-size: 14px;
  margin: 5px 0 0;
  padding: 4px 0 1px;
  text-transform: capitalize;
  color: #757575;
}



/* input-file */
.page-form .page-body .page-col input[type="file"] {
  width: 100%;
  margin-top: 10px;}
  


/* page-footer */
.page-form .page-footer {
  margin-top: 15px;
  border-top: 1px solid #dee5e8;
  text-align: right;
}

.page-form .page-footer button,
.page-form .page-footer .a-btn {
  margin: 8px 0;
  display: inline-block;
}

.page-form .page-footer .delete-btn {
  float: left;
}




/* page-col */
.page-form .page-body .page-col,
.page-form .page-body .page-col-f {
  float: left;
  padding: 3px;
  position: relative;
}
.page-form .page-body .page-col-f {
  width: 100%;}
@media (min-width: 992px) {
  .page-form .page-body .page-col {
    width: 33.33333333%;
  }
}

@media (max-width: 991px) {
  .page-form .page-body .page-col {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .page-form .page-body .page-col {
    width: 100%;
  }
}



/* div-section */
.page-form .div-section {
  display: table;
  box-shadow: 0 0 5px #d8d2d2;
  width: 100%;
  padding: 10px;}
.page-form .div-section .div-section-head {
  display: table;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;}
.page-form .div-section .div-section-head h1 {
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 0;}

  
/* row-two-col */
@media (min-width: 768px) {
.page-form .page-body .row-two-col .page-col {
    width: 50%;}
}


/* textarea-height */
.page-form .page-body .page-col .radio-cbox-btn {
  padding: 0;}


/* textarea-height */
.page-form .page-body .textarea-height {
  height: 200px;}


/* dynamic-form */
.page-form .page-body .dynamic-form {
  border: 1px solid #e2e6e8;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  display: table;
  width: 100%;}
.page-form .page-body .dynamic-form:hover {
  border-color: #ccc;}
.page-form .page-body .dynamic-form:not(:first-of-type) {
  margin-top: 10px;}
.page-form .page-body .add-row,
.page-form .page-body .delete-row {
  font-size: 12px;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid #e6e6e6;}
.page-form .page-body .add-row {
  color: #2da979;
  margin-top: 10px;
  display: inline-block;}
.page-form .page-body .delete-row {
  color: #ff6c6c;
  position: absolute;
  right: 0;
  top: 0;}



/*/ common-table Start /*/

/* common-table */
.common-table {
  margin-top: 10px;
  background: #fff;
  box-shadow: #e0d9d9 0 0 5px 0;
  padding: 5px;
  margin-bottom: 10px;
  display: table;
  width: 100%;
}

.common-table .table {
  margin-bottom: 0;
}

.common-table .table>tbody+tbody {
  border-top: inherit;
}

.common-table th,
.common-table td,
.common-table .table {
  border: 1px solid #dedede;
  word-break: break-all;
}


/* button */
.common-table .tr-body td button,
.common-table .tr-body td .a-btn {
  font-size: 13px;
  padding: 4px 9px;
  min-width: auto;
  background: #fff;
  box-shadow: 0 0 5px #d5d8da;}


/* tbody, thead */
.common-table .table>thead>.tr-head>th {
  white-space: nowrap;
  border-width: 1px;
  color: #505050;
  text-transform: capitalize;
}

.common-table .table>thead>.tr-head>th,
.common-table .table>tbody>.tr-body>td,
.common-table .table>tfoot>tr>td {
  vertical-align: middle;
  padding: 7px;
  font-size: 13px;
  text-align: center;
  color: #353535;}



/* even odd background */
.common-table .tr-body:nth-child(even) {
  background: #f5f5f5;
}

.common-table .tr-body:nth-child(odd) {
  background: #fbfffa;
}

.common-table .tr-body:hover {
  background: #e8e8e8;
}

.common-table .tr-body {
  color: #000;
}

/* input's */
.common-table td input[type="text"],
.common-table td input[type=""],
.common-table td input[type="number"],
.common-table td input[type="date"],
.common-table td input[type="password"],
.common-table td input[type="email"],
.common-table td input[type="url"],
.common-table td input[type="time"],
.common-table td select,
.common-table td textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #d8dcde;
  height: 35px;}
.common-table td input[type="file"] {
  max-width: 115px;}
.common-table td textarea {
  display: block;}
/* input:disabled */
.common-table td input:disabled {
  border: none;
}

/* tr-total */
.common-table .tr-total td {
  background: #fff;
  font-weight: 900;
  white-space: nowrap;
  color: #020202;
  text-align: center;
  font-size: 15px;
}

.common-table .tr-total .label-tcol {
  text-align: right;
  font-size: 14px;
  font-weight: normal;
}


/* ext-text */
.common-table .ext-text {
    display: block;
    font-size: 11px;}

/* b-text */
.common-table .b-text {
    font-weight: bold;
    font-size: 15px;}

/* common-table-foot */
/*
.common-table .common-table-foot {}*/


/* align-left */
.common-table .table>thead>.tr-head>th.align-left,
.common-table .table>tbody>.tr-body>td.align-left {
  text-align: left;
}

/* padding-left */
.common-table .table>thead>.tr-head>th.padding-left,
.common-table .table>tbody>.tr-body>td.padding-left {
  padding-left: 20px;
}

/* width-20 */
.common-table .table .width-20 {
  width: 20px;
}

/* tr-caption */
.common-table .tr-caption td {
  text-align: center;
}


/* chosen-container */
@media (min-width: 768px) {
.common-table .table>tbody>.tr-body>td .chosen-container {
    margin-top: 0;}
}




/* no-data */
.common-table .no-data td {
  text-align: center;
}


/* common-table img hover effect */
.common-table td img {
  height: 20px;
}

.common-table img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  cursor: -webkit-pointer;
  cursor: -moz-pointer;
  cursor: pointer;
}

.common-table td img:hover,
.common-table td img:active,
.common-table td img:focus {
  -ms-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -o-transform: scale(2.5);
  transform: scale(2.5);
  position: relative;
  z-index: 10;
}




/* switch-button */
.common-table .tr-body td .switch-button input[type="checkbox"] + label {
    height: 21px;
    width: 55px;}
.common-table .tr-body td .switch-button input[type="checkbox"] + label:before {
    width: 15px;
    height: 15px;
    top: 3px;}


    
/* a:not href */
.common-table .tr-body td a:not([href]):not([tabindex]), 
.common-table .tr-body td a:not([href]):not([tabindex]):focus, 
.common-table .tr-body td a:not([href]):not([tabindex]):hover {
     font-weight: bold;}


/* plus-btn, remove-btn */
.common-table .tr-body td .plus-btn,
.common-table .tr-body td .remove-btn,
.common-table .plus-btn {
  box-shadow: none;
  border-color: transparent;
  outline: none;
}
/* plus-btn */
.common-table .plus-btn {
  margin-top: 15px;
  margin-bottom: 7px;
  float: right;
  margin-right: 10px;
  padding: 5px 13px;
  font-size: 13px;
}
/* remove-btn */
.common-table .tr-body td .remove-btn {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 0;
  font-size: 24px;
  background: transparent;
  color: #ef5454;
}



/* password-toggle-tcol */
.common-table .password-toggle-tcol {
  position: relative;}
.common-table .password-toggle-tcol input[type="text"],
.common-table .password-toggle-tcol input[type="password"] {
  border: none;
  background: transparent;
  outline: none;}
.common-table .password-toggle-tcol input[type="password"] {
  min-width: 120px;}
.common-table .password-toggle-tcol .toggle-password {
  position: absolute;
    right: 6px;
    top: 5px;
    background: #fff;
    color: #7c8386;
    font-size: 16px;
    padding: 12px 5px;
    box-shadow: 0 0 2px #c7cacc;}


/* td-div */
.common-table .table>tbody>.tr-body>td .td-div {
  display: inline-block;
  border: 1px solid #e0dede;
  padding: 0 5px;
  background: #f0f3f7;
  margin: 1px;}
.common-table .table>tbody>.tr-body>td .td-div:hover {
  background: #e1e9ec;
  border-color: #c0cad8;}
.common-table .table>tbody>.tr-body>td .td-div .delete-btn {
  background: transparent;
  box-shadow: initial;
  font-size: 12px;
  padding: 5px;}


/* th-btn-tcol */
.common-table .table>thead>.tr-head>th.th-btn-tcol {
   text-align: inherit;
   position: relative;}
.common-table .table>thead>.tr-head>th.th-btn-tcol button {
  padding: 6px;
  float: right;
  min-width: auto;}




/* light-green-tcol */
.common-table .table>tbody>.tr-body>td.l-green-tcol {
  background: #e0f9ee;}
/* light-red-tcol */
.common-table .table>tbody>.tr-body>td.l-red-tcol {
  background: #f9e0e2;}



/* common-table th, td width set */

/* min-width */
.common-table th:before,
.common-table td:before {
  content: "";
  display: block;
  width: 25px;
}

/* xs tcol */
.common-table .xs-tcol {
  width: 0.1%;
}

/* s tcol */
.common-table .s-tcol,
/* button */
.common-table .btn-tcol {
  width: 0.3%;
}

/* nowrap */
.common-table .nowrap-tcol,
/* xs tcol */
.common-table .xs-tcol,
/* s tcol */
.common-table .s-tcol,
/* button */
.common-table .btn-tcol,
/* th */
.common-table th {
  white-space: nowrap;
}

/* m tcol */
.common-table .m-tcol {
  width: 2%;
}

/* xm tcol */
.common-table .xm-tcol {
  width: 3%;
}

/* l tcol */
.common-table .l-tcol {
  width: 5%;
}

/* xl tcol */
.common-table .xl-tcol {
  width: 6%;
}

/*/ common-table End /*/

