@media screen and (max-width: 575px) {
  body {
    font-size: 12px;
  }
}

/* for django form bullet */
fieldset ul {
  list-style:none;}




/* main header */
.header {
  width: 100%;
  background: #353535;
  position: fixed;
  z-index: 100;
  height: 60px;
}

/* left */
.header .left .a-logo {
  text-decoration: none;
  float: left;
  display: inline-flex;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header .left .a-logo img {
  height: 55px;
  max-width: 100%;
  margin-top: 3px;
  padding: 6px;
}

@media (max-width: 991px) {
  .header .left .a-logo {
    left: 50px;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .header .left .a-logo {
    left: 45px;
  }
  .header .left .a-logo img {
    display: none;
  }
}

/* right */
.header .right ul li {
  list-style: none;
  float: right;
  margin-left: 5px;
}
.header .right ul li a {
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;}
.header .right ul li a:hover {
  color: #fff;}
/* a-user */
.header .right ul .a-user a {
  background: #484848;
  border-radius: 15px;
  padding: 9px 19px;}
.header .right ul .a-user a img {
  height: 20px;
  margin-right: 5px;
  margin-top: -5px;}
.header .right ul .a-user a span {
  color: #9e9e9e;}
@media screen and (max-width: 575px) {
.header .right ul li a {
    padding: 11px 13px 16px}
}




/* helvetica-font */
.helvetica-font {
  font-family: Helvetica Neue, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";}





/* from-to-filter */
.from-to-filter {
  display: inline-block;
  margin-bottom: 7px;
}
.from-to-filter input[type="text"] {
  padding: 0 5px;
  float: left;
  height: 30px;
  border: 1px solid #e1e2e1;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.from-to-filter label {
  float: left;
  position: relative;
  top: 6px;
}
.from-to-filter button {
  min-width: auto;
  padding: 5px 10px;
  background: #54ba5e;
  color: #fff;}






 
/* main-body */
.main-body {
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 60px;
  padding-left: 245px;
}

@media (max-width: 991px) {
  .main-body {
    padding-left: 15px;
  }
}
@media (max-width: 575px) {
.main-body {
  padding-top: 54px;}
}




/* hid-show-menu */
/*
button.hid-show-menu {
  display: none;}*/
button.hid-show-menu {
	position: fixed;
    left: 192px;
    top: 59px;
    z-index: 10;
    padding: 0;
    min-width: auto;
    background: transparent;
    border: none;
    outline: none;
	box-shadow: none;
   width: auto;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;}
button.hid-show-menu span {
   display: block;
   width: 35px;
   background: #3e947b;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
   margin-top: 6px;
   margin-bottom: 6px;
   height: 3px;}
button.hid-show-menu span:last-child {
    display: none;}
@media (max-width: 991px) {
button.hid-show-menu {
    display: none;}
}  
   
   
/* hid-show-menu-click */ 
@media (min-width: 992px) {
	
/* hid-show-menu */  
.hid-show-menu-click button.hid-show-menu {
	  left: 15px;
    top: 14px;} 	
.hid-show-menu-click button.hid-show-menu span {
   background: #7e8c8e;}	
body:not(.hid-show-menu-click) button.hid-show-menu span:last-child {
    -ms-transform: rotate(136deg);
	-moz-transform: rotate(136deg);
    -webkit-transform: rotate(136deg);
    transform: rotate(136deg);
    position: absolute;
    bottom: 9px;
    display: block;}
   

  /* main-body */
  .main-body {
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  .hid-show-menu-click .main-body {
    padding-left: 15px;
  }

  /* sidebar */
  .hid-show-menu-click #sidebar {
    left: -230px;
  }

  /* a-logo */
  .hid-show-menu-click .header .left .a-logo {
    margin-left: 55px;
  }
}




/* card-items-img */
.card-items-img {
  box-shadow: 0 0 5px #d6d1d1;
  padding: 8px;
  border-radius: 5px;
  display: table;
  width: 100%;
  margin-top: 15px;}
.card-items-img .item {
  float: left;
  position: relative;
  box-shadow: 0 0 7px #ccc;
  padding: 5px;
  margin: 0.55555555555%;
  border-radius: 5px;}
.card-items-img .item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;}
.card-items-img .item .delete-btn {
  position: absolute;
  right: 5px;
  min-width: auto;
  background: #f90d0d5c;
  color: #fff;
  padding: 6px;
  font-size: 24px;
  border-radius: 0 5px;}
@media (min-width: 992px) {
.card-items-img .item {
  width: 32.2%;}
}
@media (max-width: 991px) {
.card-items-img .item {
  width: 48.8%;}
}
@media (max-width: 767px) {
.card-items-img .item .delete-btn {
  font-size: 20px;}
}


/* left-head-table */
.left-head-table {
  background: #fff;
  border: 1px solid #e8ecf1;
  font-size: 15px;
  padding: 15px;
  width: 100%;
  margin-top: 15px;}
.left-head-table table {
  width: 100%;}
.left-head-table tr td,
.left-head-table tr th {
  padding-bottom: 10px;
  padding-top: 10px;}
.left-head-table tr:not(:first-child) td,
.left-head-table tr:not(:first-child) th {
  border-top: 1px solid #e2e2e2;}
.left-head-table tr td:nth-child(1) {
  width: 2%;
  padding-right: 15px;
  white-space: nowrap;}
.left-head-table tr td:nth-child(2) {
  width: 8%;
  text-align: center;}
.left-head-table tr td:nth-child(3) {
  width: 20%;}

  


/* pro-count-div */
.pro-count-div {
  background: #f8fcff;
  box-shadow: #e4e7ea 0 0 5px 0;
  display: table;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  border-radius: 2px;}
.pro-count-div .count-col {
  display: inline-block;
  padding: 10px;
  width: 18%;
  background: #ffffff;
  margin: 8px 1%;
  box-shadow: 0 0 5px #eaedef;
  border-radius: 4px;
  color: #606263;}
.pro-count-div .count-col label {
  margin-bottom: 0;
  font-size: 13px;}
.pro-count-div .count-col h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;}
@media (max-width: 767px) {
.pro-count-div {
  padding-bottom: 5px;
  padding-top: 5px;}
.pro-count-div .count-col {
  width: 46%;
  margin: 5px 2%;}
}




/* multi-field-wrapper */
.multi-field-wrapper {
  box-shadow: 0 0 5px #d6d1d1;
  padding: 12px;
  border-radius: 5px;
  margin-top: 15px;
  display: table;
  width: 100%;}
.multi-field-wrapper .add-field-btn,
.multi-field-wrapper .multi-fields .multi-field .remove-field-btn {
  padding: 0;
  background: transparent;
  min-width: auto;}
.multi-field-wrapper .add-field-btn:not(:hover),
.multi-field-wrapper .multi-fields .multi-field .remove-field-btn:not(:hover) {
  opacity: .9;}
.multi-field-wrapper .add-field-btn {
  color: #5ea588;
  font-size: 35px;
  margin-top: 15px;
  float: left;
  clear: left;}
.multi-field-wrapper .multi-fields .multi-field {
  position: relative;
  background: #f9fafb;
  border: 1px solid #e0e5ea;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;}
.multi-field-wrapper .multi-fields .multi-field:first-of-type .remove-field-btn {
  display: none;}
.multi-field-wrapper .multi-fields .multi-field .remove-field-btn {
  color: #e07b7b;
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 0;}



/* card-row */
.card-row {
  display: table;
  width: 100%;
  box-shadow: 0 0 5px #e4dada;
  padding: 8px;}
.card-row .card-col {
  width: 24.6%;
  float: left;
  position: relative;
  border: 1px solid #ece7e7;
  margin-left: .2%;
  margin-right: .2%;
  margin-bottom: 10px;}
.card-row .card-col img {
  max-width: 100%;
  height: 220px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;}
.card-row .card-col iframe {
  max-width: 100%;
  height: 220px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;}
.card-row .card-col .delete-btn {
  position: absolute;
  bottom: 0;
  background: #ffffff61;
  font-size: 20px;
  padding: 5px 10px;
  min-width: auto;
  border-radius: 0;}
@media (max-width: 991px) {
.card-row .card-col {
  width: 32.9%;}
}
@media (max-width: 767px) {
.card-row .card-col {
  width: 49.6%;}
.card-row .card-col img {
  height: 180px;}
}

/* filter-by */
.filter-by .m-label {
  padding-right: 4px;
}

.filter-by .div-col {
  display: inline-flex;
  padding-top: 11px;
}

.filter-by .div-col .chosen-container {
  width: 180px !important;
  margin-right: 10px;
}

.filter-by .div-col label {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 16px;
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.filter-by .div-col select {
  width: 180px;
  margin-right: 10px;
  border: 1px solid #e1e2e1;
  height: 30px;
}
@media (max-width: 767px) {
.filter-by .div-col label {
  top: 12px;}
}



/* v-drop-menu */
@media (min-width: 992px) {
.v-drop-menu .main-body {
  padding-left: 480px;}
}
/* simple-card-row */
@media (min-width: 1300px) {
.v-drop-menu .simple-card-row .simple-card-col {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;}
}
@media (max-width: 1299px) {
.v-drop-menu .simple-card-row .simple-card-col {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;}
}
@media (max-width: 1199px) {
.v-drop-menu .simple-card-row .simple-card-col {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;}
}
@media (max-width: 767px) {
.v-drop-menu .simple-card-row .simple-card-col {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;}
}



/* vertical_drop_menu */
.vertical_drop_menu {
  height: 100%;
  width: 230px;
  position: fixed;
  left: 180px;
  top: 60px;
  z-index: 100;
  background: #f8fcff;
  box-shadow: 0 2px 1px 1px #ebecec;
  padding-bottom: 123px;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;}
@media (max-width: 991px) {
.vertical_drop_menu {
  left: -230px;}
.vertical_drop_menu_open .vertical_drop_menu {
  left: 0;}
}
/* head */
.vertical_drop_menu .head {
  display: table;
  width: 100%;
  text-align: center;
  padding-top: 25px;}
/* body */
.vertical_drop_menu .body {
  padding-top: 25px;}
.vertical_drop_menu .body ul {
  margin-bottom: 0;}
.vertical_drop_menu .body ul li {
  list-style: none;
  padding-left: 0;}
.vertical_drop_menu .body ul li a {
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  display: flow-root;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;}
.vertical_drop_menu .body ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
  float: right;}
.vertical_drop_menu .body ul li ul {
  display: none;
  padding-left: 10px;}

/* vertical-drop-toggle-btn */
.vertical-drop-toggle-btn {
  min-width: auto;
  background: #353535;
  color: #fff;
  font-size: 20px;
  padding: 0px 15px;
  border-radius: 0;
  border: 1px solid #353535;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 101;
  line-height: 0;}
.vertical-drop-toggle-btn:hover {
  background: #353535;}
@media (min-width: 992px) {
.vertical-drop-toggle-btn {
  display: none;}
}



/* select_editable_input_div */
.select_edit_input_div {
  position: relative;}
.select_edit_input_div .edit_input_div {
  position: absolute;
  width: 85%;
  top: 5px;}
input.edit_input {
  width: 100%;
  position: relative;
  z-index: 10;
  height: 35px;
  padding-left: 7px;}
@media (min-width: 768px) {
.select_edit_input_div .edit_input_div {
  top: 5px;}
}



/* date-select */
.date-select {
  display: flex;
  float: right;
}

.date-select input[type="text"] {
  text-align: center;
}

.date-select label {
  width: auto;
}

/* active */
.active {
  cursor: default;
}

/* a-link */
.a-link {
  color: #287b74;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* a-text */
.a-text {
  color: #2a82ff;
  font-weight: bold;
}


/* paginated */
.paginated {
  justify-content: center;
  display: flex;
  margin-top: 10px;}
.paginated li {
  list-style: none;}
.paginated li a {
  display: block;
  color: #334ac3;
  padding: 4px 12px;}
.paginated li.disabled a {
  cursor: no-drop;}


	
/* switch-button */	
.switch-button input[type="checkbox"] {
  display: none;}
.switch-button input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 26px;
  background: #ccc;
  border-radius: 70px;
  padding: 0;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;}
.switch-button input[type="checkbox"] + label:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 4px;
  border-radius: 100%;
  background: #fff;
  -webkit-transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease, -webkit-transform 150ms ease;}
.switch-button input[type="checkbox"][data-state="YES"] + label:before {
  left: 30px;}
.switch-button input[type="checkbox"][data-state="YES"] + label {
  background: #7bc2dc;}

/* bootstrap-datetimepicker-widget */
.bootstrap-datetimepicker-widget thead tr th {
   padding-top: 5px;}
.bootstrap-datetimepicker-widget thead tr:nth-of-type(2) th:first-of-type {
   color: #ff5d5d;}
.bootstrap-datetimepicker-widget thead tr th:not(.prev),
.bootstrap-datetimepicker-widget thead tr th:not(.next) {
  font-size: 13px;}
.bootstrap-datetimepicker-widget thead tr th.prev,
.bootstrap-datetimepicker-widget thead tr th.next {
  font-size: 20px;
  padding-top: 2px;}
.bootstrap-datetimepicker-widget thead tr:last-of-type th {
   padding-bottom: 5px;}
.bootstrap-datetimepicker-widget tbody tr td {
   font-size: 12px;}
.bootstrap-datetimepicker-widget tbody tr:first-of-type td {
   padding-top: 5px;}

/* choose-img-show */
.choose-img-div {
  position: relative;}
.choose-img-div .choose-img-show {
  position: absolute;
  right: 0;
  /*top: -15px;*/
  top: 21px;}
.choose-img-show {
  height: 60px;
  max-width: 80px;
  object-fit: cover;}


/* tab */
.nav-tabs {
  border-bottom-color: transparent;
}

.nav-tabs .nav-link {
  position: relative;
  top: 1px;
  text-transform: capitalize;
}

.tab-content {
  border: 1px solid #ddd;
  box-shadow: #dedede 0 0 5px 0;
}

.tab-content .common-table {
  margin-top: 0;
}

@media (max-width: 767px) {
  .nav-tabs {
    margin-top: 10px;
  }
}








/* simple-card-row */
.simple-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  margin-top: 25px;}
.simple-card-row .simple-card-col {
  position: relative;
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-flex: 0;}
@media (min-width: 992px) {
.simple-card-row .simple-card-col {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;}
}
@media (max-width: 991px) {
.simple-card-row .simple-card-col {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;}
}
@media (max-width: 767px) {
.simple-card-row .simple-card-col {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;}
}

/* inner-div */
.simple-card-row .inner-div {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
  text-align: center;}
/* head */
.simple-card-row .inner-div .head {
  width: 100%;
  display: table;}
/* settings-btn */
.simple-card-row .inner-div .head .settings-btn {
  background: transparent;
  color: #000;
  min-width: auto;
  padding: 5px 8px;
  font-size: 18px;
  position: absolute;
  right: -2px;
  z-index: 2;}


/* settings-card */
.simple-card-row .inner-div .head .settings-card {
  position: absolute;
  right: -2px;
  top: -2px;
  z-index: 1;}
.simple-card-row .inner-div .head .settings-card .settings-card-body {
  background: #fff;
  box-shadow: 0 0 5px #d6d5d5;
  border-radius: 3px;
  padding: 3px;}
.simple-card-row .inner-div .head .settings-card .settings-card-body .edit-btn,
.simple-card-row .inner-div .head .settings-card .settings-card-body .delete-btn {
  display: block;
  background: transparent;
  min-width: auto;
  padding: 5px 8px;
  text-align: left;}
.simple-card-row .inner-div .head .settings-card .settings-card-body .delete-btn:last-of-type {
  margin-top: 5px;}
.simple-card-row .inner-div .head .settings-card .settings-card-body .edit-btn span,
.simple-card-row .inner-div .head .settings-card .settings-card-body .delete-btn span {
  font-size: 12px;
  padding-left: 3px;}
/* open_settings */
.simple-card-row div:not(.open_settings) .inner-div .head .settings-card {
  display: none;}
/* body */
.simple-card-row .inner-div .body {
  width: 100%;
  display: table;
  padding: 10px 15px 0;}
/* primary-img */
.simple-card-row .inner-div .body .primary-img {
  max-width: 100%;
  height: 100px;
  object-fit: cover;}
/* foot */
.simple-card-row .inner-div .foot {
  width: 100%;
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  padding: 20px 10px;}
/* product-name */
.simple-card-row .inner-div .foot .product-name {
  font-size: 16px;
  color: #383838;
  margin-top: 5px;
  margin-bottom: 10px;}
/* primary-link */
.simple-card-row .inner-div .primary-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;}


/* empty-card-col */
.simple-card-row .empty-card-col .inner-div .label {
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;}
.simple-card-row .empty-card-col .inner-div .fa {
  font-size: 50px;}
.simple-card-row .empty-card-col .inner-div .data-div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}

 





/* single use */