{% load static %}
<!-- header -->
<header class="header">
  <div class="container-fluid">

    <div class="row">
      <!-- left -->
      <div class="col-6 left">
        <a href="{% url 'student_home' %}">
          <h3>STUDENT REGISTRATION</h3>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- /header -->


<div class="container-fluid main-body">
