{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/ico" href="{% static 'files/images/favicon.ico' %}?v=1" />
  <title>Student Registration | BLEACH.COM</title>
  <link href="{% static 'files/plugins/bootstrap4/css/bootstrap.min.css' %}?v=1" rel="stylesheet" type="text/css" />
  <link href="{% static 'files/css/common.css' %}?v=1" rel="stylesheet" type="text/css" /> 
  <link href="{% static 'files/css/custom.css' %}?v=6" rel="stylesheet" type="text/css" /> 
  <link href="{% static 'files/fonts/web-fonts/web-fonts.css' %}?v=1" rel="stylesheet" type="text/css" />
  <link href="{% static 'files/fonts/font-awesome/css/font-awesome.min.css' %}?v=1" rel="stylesheet" type="text/css" />
  <link href="{% static 'files/plugins/bootstrap-datepicker/bootstrap-datetimepicker.min.css' %}?v=1" rel="stylesheet" type="text/css" />
  <script src="{% static 'files/js/jquery-3.3.1.min.js' %}?v=1" type="text/javascript"></script>
  <script src="{% static 'files/js/jquery.formset.js' %}" type="text/javascript"></script>
  {% block css_links %}
  {% endblock %}
  {% block xtra_css %}
  {% endblock %}
 </head>
<body>
 
    <div class="pre-loader"></div><!-- pre-loader -->

     {% block content %}
     {% endblock %}

</div><!-- container-fluid, main-body -->

 <!-- bootstrap --> 
 <script src="{% static 'files/plugins/bootstrap4/js/bootstrap.min.js' %}?v=1" type="text/javascript"></script>
 <!-- bootstrap-datepicker -->
 <script src="{% static 'files/plugins/bootstrap-datepicker/moment.min.js' %}?v=1" type="text/javascript"></script>
 <script src="{% static 'files/plugins/bootstrap-datepicker/bootstrap-datetimepicker.min.js' %}?v=1" type="text/javascript"></script>
 <!-- common -->
 <script src="{% static 'files/js/common.js' %}?v=1" type="text/javascript"></script> 
 <!-- common js -->
 <script src="{% static 'files/js/custom.js' %}?v=1" type="text/javascript"></script>
   {% block javascript %}
   {% endblock %}
   {% include 'common_messages.html' %}
</body>
</html>